.menu-btn-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container-portfolio {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:  48px 40px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 400ms;

    &.is-open {
        transform: translateX(0);
    }
}

.menu-toggle-portfolio {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu-portfolio {
    margin-bottom: auto;
}

.mobile-menu-portfolio__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu-portfolio__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
}

.mobile-menu-portfolio__link--studio {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mobile-menu-portfolio__link--portfolio {
    display: inline-block;
    color: #2196F3;
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mobile-menu-portfolio__link--cont {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mobile-contacts__link {
    font-weight: 500;
}

.mobile-contacts__link--tel {
    display: inline-block;
    font-size: 34px;
    line-height: 1.17;
    color: #2196F3;
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.linkmobile-contacts__link--mail {
    font-size: 24px;
    line-height: 1.16;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mobile-socials {
    display: flex;
    margin-top: 64px;
    gap: 10px;
}

.mobile-socials__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    /*height: 22px;*/
}

.mobile-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #2196F3;
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}