.page {
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: var(--text-size);
}

// portfolio

.page {
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: var(--text-size);
}