:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --acent-color: #2196F3;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --header-footer-color: #2F303A;
    --gray-color: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --title-size: 36px;
    --text-size: 14px;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}