.container-form {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        /*width: 450px;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}

.container-form__text {
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: var(--text-size);
    line-height: 1.14;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-form {
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
    }
}

.footer-form__label {
    display: inline-block;
    /*margin-right: 12px;*/
}

.footer-form__input {
    /*width: 385px;*/
    height: 50px;
    background-color: var(--header-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    transition: border-color var(--animation);

    &:hover,
    &:focus {
        border-color: var(--acent-color);
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        max-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 20px;
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

input[placeholder] {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

.footer-form__icon {
    margin-left: 10px;
    fill: var(--white-color);
}