.footer-social {
    @media screen and (max-width: 767px) {
        width: 206px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
    }
}

.footer-social__text {
    display: inline-block;
    color: var(--white-color);
    font-weight: 700;
    font-size: var(--text-size);
    line-height: 1.14;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-social__list {
    display: flex;
}

.footer-social__list .footer-social__item+.footer-social__item {
    margin-left: 10px;
}

.footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--white-color);
    background-color: rgba(117, 117, 117, 0.3);
    transition: fill var(--animation), background-color var(--animation);
    
    &:hover,
    &:focus {
        background-color: var(--acent-color);
    }
}