.container-header {
    /*width: 480px;*/
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        display: flex;
    }
}

.header__contacts {
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__item:not(:last-child){
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }
}

.header__contacts .header__item+.header__item {
    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}

.header__contacts .header__link {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color var(--animation);

    &:hover,
    &:focus {
        color: #2196F3;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.header__link--mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        padding-top: 18px;
    }
}

.header__link--tel {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 18px;
    }
}

.header__envelope {
    fill: var(--secondary-color);
    margin-right: 10px;
    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--acent-color);
    }
}

.header__envelope {
    fill: currentColor;
}

.header__smartphone {
    fill: var(--secondary-color);
    margin-right: 10px;
    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--acent-color);
    }
}

.header__smartphone {
    fill: currentColor;
}