.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/images/hero/img_sm-@1x.webp);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../img/images/hero/img_sm-@2x.webp);
    }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../img/images/hero/img_md-@1x.webp);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../img/images/hero/img_md-@2x.webp);
        }
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../img/images/hero/Img_lg-@1x.webp);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../img/images/hero/Img_lg-@2x.webp);
        }
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-clip: border-box;

    @media screen and (min-width: 768px) {
        padding: 118px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }
}

.hero--section {
    background-color: var(--header-footer-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        max-width: 360px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}